header, div {
  border-radius: 6px;
}

header {
  background-color: #eee;
  min-height: 150px;
  line-height: 150px;
}

header p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

section {
  padding: 1em;
}

button {
  -webkit-transition: 1s;
  -moz-transition:1s;
  -o-transition: 1s;
  transition: 1s;
}

.row {
  margin: 0;
}

.list-unstyled {
  margin: 1em;
}

.list-unstyled li {
  padding: 1em;
}

.list-unstyled li:not(:last-child) {
  border-bottom: 3px solid #333;
}

.grey {
  background: #eee;
}

.res {
  height: 75px;
}

@media (min-width: 992px) {
  .col-md-3 {
    width: calc(25% - 30px);
    margin-right: 30px;
  }
  .row {
    display:flex;
  }
}
